{% extends "index.html" %}
{% block content %}
<div class="row" align="center">
        <img src="../static/img/KingSize.jpg"  style="width:180px;height:250px;">
        <img src="../static/img/double-hotel-room-fresh-in-trend.jpg" style="width:180px;height:250px;">
        <img src="../static/img/singleHotelRoom.jpg" style="width:180px;height:250px;">
        <img src="../static/img/studio%20hotel%20room.jpg" style="width:180px;height:250px;">
</div>
<div class="row1" align ="center">
        <a href ="{% url 'signup' %}" class='btn btn-lg' style="height: 70px; width: 120px">Sign Up</a>
</div>
{% endblock %}


